In [10]:
num1 = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55) 
num2 = reversed(num1)
print(tuple(num2))

(55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46)

In [29]:
print(num1[9])

58

In [32]:
print(num1.count(55))

5

In [38]:
print(num1.index(49))
print(num1.index(57))

6
13

list

In [47]:
num5 = [46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55]
num5.reverse()
print(num1)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46]

In [49]:
print(num5[11])

58

In [53]:
print(num5.count(51))

2

In [58]:
print(num5[1])

57

In [59]:
print(num5[14])

49

In [61]:
num5_add = [89,85,36,95,45,78]
num5.extend(num5_add)
print(num5)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46, 89, 85, 36, 95, 45, 78, 89, 85, 36, 95, 45, 78]

DICTIONARY

In [2]:
details = {
    'manchesterunited' : ['England','Erik','Maguire','#4.2B',4-3-3],
    'Manchestercity' : ['England','Pepgaduiola','de-bruyne','$4B',4-2-1-3],
    'Arsenal' : ['Uk','arteta','martin','$2.8B',3-4-3],
    'Totenham' : ['England','Antonio','hugo','$2.3B',3-4-2-1],
    'Barcelona' : ['Spain','Xavi','Bosquet','$4.8B',4-1-3-2],
    'Chelsea' : ['England','Tuchel','Cesar','$3.2B',3-4-3],
    'Real-madrid' : ['spain','ancelotti','marcelo','$4.8',4-3-3],
    'Ajax' : ['Netherland','alfred','tadic','$2.8M',4-3-3],
    'Benfica' : ['portugal','Roger','Slbenfica','$2.5M',3-4-3],
    'Psg' : ['france','galtier','mbape','$2.5B',4-3-2-1]
}

In [13]:
print(f'details')

details